@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './now-ui-dashboard.scss';

form {
    width: 100%;
}

.btn-exit {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
    outline: inherit;
    &:hover,
    &:focus,
    &:active {
        background: none;
        box-shadow: none;
    }
}

.border-transparent{
    border-color: rgba(0,0,0,0) !important;
}

.modal-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shadow-bold {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5) !important;
}

@keyframes hideMessage{
    to{
        text-outline: -50px;
        opacity: 0;
    }
}
body{
    .erroContainer{
        display: flex;
        justify-content: center;
        padding: 16px;
        position: fixed;
        width: 100%;
        margin: 10px -127px;
        font-size: size("16");
        color: white;
        top: 0;
        opacity: 1;
        background-color: red;
        text-transform: uppercase;
        animation: hideMessage 400ms 3s ease-out forwards;

            
            }

}